.action-btn {
  padding: 12px 22px;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 600;
  border: none;
  transition: 0.3s ease;
}

.action-btn-primary {
  background: #e75d2e;
  color: white;
  border: none;
}

.action-btn-primary:hover {
  background: #a83a1e;
}

.action-btn-secondary {
  background: transparent;
  color: #444;
  border: 1.5px solid #d0d0d0;
}

.action-btn-secondary:hover {
 background: white;
  color: black;
}