.footer {
  background: #474747;
  color: white;
  padding-top: 80px;
}

.footer-container {
  width: 1100px;
  max-width: 92%;
  margin: auto;

  display: grid;
  grid-template-columns: 1.4fr 1fr 1fr 1.2fr;
  gap: 50px;
}

/* Brand */

.footer-brand h2 {
  font-size: 32px;
  margin-bottom: 18px;
  font-family: Georgia, serif;
}

.footer-brand p {
  color: #cfcfcf;
  line-height: 1.8;
  font-size: 14px;
  margin-bottom: 25px;
}

/* Social */

.social-icons {
  display: flex;
  gap: 12px;
}

.social-icons a {
  width: 36px;
  height: 36px;

  background: #c94e2d;
  color: white;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  transition: 0.3s;
}

.social-icons a:hover {
  transform: translateY(-3px);
}

/* Links */

.footer-links h3,
.footer-instagram h3 {
  margin-bottom: 20px;
  font-size: 18px;
}

.footer-links ul {
  list-style: none;
}

.footer-links li {
  margin-bottom: 12px;
}

.footer-links a {
  color: #d7d7d7;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
}

.footer-links a:hover {
  color: white;
}

/* Instagram */

.instagram-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.instagram-grid img {
  width: 100%;
  height: 95px;
  object-fit: cover;
  border-radius: 10px;
}

/* Copyright */

.copyright {
  text-align: center;
  margin-top: 60px;
  border-top: 1px solid rgba(255,255,255,0.1);
  padding: 25px 20px;
  color: #bdbdbd;
  font-size: 14px;
}

/* Responsive */

@media (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .footer-brand,
  .footer-links,
  .footer-instagram {
    text-align: center;
  }

  .social-icons {
    justify-content: center;
  }
}